$break-xs: 576px;
$break-sm: 768px;
$break-m: 992px;
$break-lg: 1200px;
$break-xlg: 1920px;
$break-xxlg: 2560px;
html {
  font-size: 16px;
}
body > * {
  font-family: "roboto";
}
section > * {
  transition: font-size 1s ease-in;
}
.Landing {
  width: 100%;
  height: 100vh;
  background: url(../images/Landing.jpg) no-repeat center;
  background-size: cover;
}
.cutoff1,
.cutoff2 {
  margin: 0;
}
.Logo {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-end;
  align-items: center;
}
.logo-svg {
  width: 10em;
  transition: 1s linear;
}
.Landing-title {
  color: #fff;
  font-size: 2.2em;
  margin: 16px 0;
  text-align: center;
}
.Landing-description {
  color: #cecece;
  text-align: center;
  font-size: 0.9em;
}
.About {
  background-color: rgb(17, 17, 17);
  text-align: center;
  width: 100%;
  .container {
    .row {
      .about-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(221, 221, 221);
        font-size: 1em;
        padding: 0 15px 68px;
      }
      .about-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 68px 0;
      }
    }
  }
}
.Skills {
  background: url(../images/Skills.jpg) no-repeat center;
  background-size: cover;
}
.skills-title {
  color: rgb(221, 221, 221);
  text-align: center;
  font-size: 2.7em;
  padding: 0 68px 68px;
}
.skills-description {
  .container {
    padding-bottom: 68px;
    .row:not(:last-child) {
      padding: 0px 0 20px;
    }
    .row {
      margin: 0;
      .col {
        padding: 0;
      }
      .skill {
        color: #08b8b8;
        font-size: 1.5em;
        padding: 0;
      }
      .col:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
        color: rgb(221, 221, 221);
      }
    }
  }
}
.Projects {
  background-color: #f1ebeb;
}
.projects-title {
  padding: 0 68px 68px;
  text-align: center;
  font-size: 2.7em;
  color: #026262;
}
.projects-description {
  padding: 0 15px 68px;
  .row {
    padding: 15px 0;
    .col-md-4,
    .col-sm-6,
    .col-12 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .col {
      .row:first-child {
        a {
          color: #026262;
          padding: 15px 0px 15px;
          font-size: 1.5em;
        }
      }
      .row:last-child {
        text-align: left;
        padding: 0;
      }
    }
  }
}
.Contact {
  background: url(../images/Contact.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  form {
    margin: 0;
    padding: 0px 0px 68px;
    .form-control:not(:first-child):not(:last-child) {
      margin: 15px 0px 15px;
    }
    .form-control:last-child {
      height: 100px;
    }
    .contact-btn-wrapper {
      .btn {
        background: linear-gradient(
          180deg,
          #058d8d 0%,
          rgba(2, 98, 98, 0) 100%
        );
        height: 2.8em;
        width: 7.7em;
        border: none;
      }
      .btn:hover,
      .btn:active,
      .btn:focus,
      .btn:visited {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.Contact-title {
  padding: 0 68px 68px;
  text-align: center;
  font-size: 2.7em;
  color: white;
}
@media screen and (min-width: $break-xs) {
  .logo-svg {
    width: 15em;
  }
  .About {
    .container {
      .row {
        .about-description {
          padding: 68px 15px 68px;
        }
      }
    }
  }
}
@media screen and (min-width: $break-sm) {
  .logo-svg {
    width: 18em;
  }
  .Landing-title {
    font-size: 2.3em;
  }
  .Landing-description {
    font-size: 1.1em;
  }
  .cutoff1 {
    margin-bottom: -1px;
  }
  .cutoff2 {
    margin-top: -1px;
  }
  .container > form {
    padding: 0 20% 5%;
  }
}

@media screen and (min-width: $break-m) {
  .logo-svg {
    width: 30em;
  }
  .Landing-title {
    font-size: 2.5em;
  }
  .Landing-description {
    font-size: 1.3em;
  }
}

@media screen and (min-width: $break-lg) {
  .logo-svg {
    width: 35em;
  }
  .Landing-title {
    font-size: 3em;
  }
  .Landing-description {
    font-size: 2em;
  }
}
@media screen and (min-width: $break-xlg) {
  .cutoff1,
  .cutoff2 {
    width: 100%;
  }
  .Landing-title {
    font-size: 3.5em;
  }
  .Landing-description {
    font-size: 2.2em;
  }
}
@media screen and (min-width: $break-xxlg) {
  body {
    font-size: 35px;
  }
  .Landing-title {
    font-size: 2.5em;
  }
  .Landing-description {
    font-size: 1.2em;
  }
}
