$break-xs: 480px;
$break-sm: 768px;
$break-m: 992px;
$break-lg: 1200px;
body {
  font-family: "roboto";
}
.Landing {
  width: 100%;
  height: 100vh;
  background: url(../images/Landing.jpg) no-repeat center;
  background-size: cover;
}
.Logo {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-end;
  align-items: center;
}
.logo-svg {
  width: 200px;
}
.Landing-title {
  color: #fff;
  font-size: 36px;
  margin: 16px 0;
  text-align: center;
}
.Landing-description {
  color: #cecece;
  text-align: center;
  font-size: 14px;
}
.About {
  background-color: #111;
  text-align: center;
  width: 100%;
  .container {
    .row {
      padding: 68px 0 68px;
      .about-description {
        color: rgb(221, 221, 221);
      }
      .about-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 68px;
        align-items: center;
      }
    }
  }
}
.Skills {
  background: url(../images/Skills.jpg) no-repeat center;
  background-size: cover;
}
.skills-title {
  color: rgb(221, 221, 221);
  text-align: center;
  font-size: 50px;
  padding: 0 68px 68px;
}
.skills-description {
  .container {
    padding-bottom: 68px;
    .row:not(:last-child) {
      padding: 0px 0 20px;
    }
    .row {
      margin: 0;
      .col {
        padding: 0;
      }
      .skill {
        color: #08b8b8;
        font-size: 25px;
        padding: 0;
      }
      .col:last-child {
        font-size: 16px;
        color: rgb(221, 221, 221);
      }
    }
  }
}
.Projects {
  background-color: #f1ebeb;
}
.projects-title {
  padding: 0 68px 68px;
  text-align: center;
  font-size: 50px;
  color: #026262;
}
.projects-description {
  padding: 0 15px 68px;
  .row {
    .col {
      .row:first-child {
        color: #026262;
        padding: 20px 0px 20px;
        font-size: 25px;
      }
      .row:last-child {
        text-align: left;
        padding-bottom: 20px;
      }
    }
  }
}
.Contact {
  background: url(../images/Contact.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  form {
    margin: 0;
    padding: 0px 15px 68px;
    .form-control:not(:first-child):not(:last-child) {
      margin: 20px 0px 20px;
    }
    .form-control:last-child {
      height: 100px;
    }
    .contact-btn-wrapper {
      .btn {
        background: linear-gradient(
          180deg,
          #058d8d 0%,
          rgba(2, 98, 98, 0) 100%
        );
        height: 44px;
        width: 123px;
        border: none;
      }
      .btn:hover,
      .btn:active,
      .btn:focus,
      .btn:visited {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.Contact-title {
  padding: 0 68px 68px;
  text-align: center;
  font-size: 50px;
  color: white;
}
@media screen and (min-width: $break-xs) {
  .logo-svg {
    width: 250px;
  }
}
@media screen and (min-width: $break-sm) {
  .logo-svg {
    width: 300px;
  }
  .Landing-title {
    font-size: 36px;
  }
  .Landing-description {
    font-size: 16px;
  }
}

@media screen and (min-width: $break-m) {
  .logo-svg {
    width: 500px;
  }
  .Landing-title {
    font-size: 46px;
  }
  .Landing-description {
    font-size: 26px;
  }
}

@media screen and (min-width: $break-lg) {
  .logo-svg {
    width: 35vw;
  }
  .Landing-title {
    font-size: 56px;
  }
  .Landing-description {
    font-size: 36px;
  }
}
